@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255 255 255;
    --foreground: 0 0 0;
  }

  .dark {
    --background: 17 24 39;
    --foreground: 255 255 255;
  }

  * {
    border-color: theme('colors.border');
  }

  body {
    background-color: rgb(var(--background));
    color: rgb(var(--foreground));
  }
}

input[type="color"] {
  -webkit-appearance: none;
  border: none;
  cursor: pointer;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 4px;
}